<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
</head>

<body>
    <h1>This is all the products we have</h1>

    <% for (let i=0; i < products.length; i++ ) { %>
        <ul>
            <li>
                <a href="products/<%= products[i]._id %> "> 
                    <%= products[i].name %>
                </a>
            </li>
        </ul>
        <%}%>
            <a href="products/new">Add a new product</a>

</body>

</html>